/* BASE STYLES */
 html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

/* centers main content horizontally */
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* RESPONSIVE STYLES */

@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}